@import "tailwindcss";

body {
  min-height: 100vh;
  background: linear-gradient(to bottom right, rgb(168 85 247), rgb(126 34 206));
  padding: 2rem;
}

#root {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}
